
    <div class='magic-content-container' ng-controller='todoCtrl'>
        <div class="top-bar"> 
            <span class="magic-title">Magic Task <span class="badge">{{dueTasks}}</span></span>
            <span class="show-hide" ng-click="toggleMagicTask()" ng-show="showMagicTask">Hide</span>
            <span class="show-hide" ng-click="toggleMagicTask()" ng-hide="showMagicTask">Show</span>
        </div>

        <div ng-show="loginPage">
            <div ng-show="loginForm">
                  <form class="form-signin" ng-submit="login()">
                <h2 class="form-signin-heading">Please sign in</h2>
                     <label for="inputEmail" class="sr-only">Email address</label>
                     <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="useremail">
                     <label for="inputPassword" class="sr-only">Password</label>
                     <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="userpass">
               
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
            </div>
            <div ng-show="waitingPage">
                <h3>
                    Hold on, bro. We're getting your tasks for you. 
                </h3>
                <h3>
                    Give us a god damn second....
                </h3>
            </div>
              
        </div>

<div ng-hide="loginPage">

        <div ng-show="showMagicTask && showTasks" class="magic-task">
            <div class='row'>
            <div class='col-md-12'>
                    <form ng-submit="sendTask()" ng-show="addTaskDiv" class="add-task-container">
                    <div class="form-group">
                         <label for="taskInput">Type your task & due date here:</label>
                        <input type="text" id="taskInput" class="form-control" aria-label="..." ng-model="taskInput" ng-change="parseInput()" placeholder="Example: 'Finish project by next Friday'"/>
                        <span class="date-guess">{{newTask.dateGuess.readable}}</span>
                    </div>
                    <div class="form-group">
                         <div class="btn-group" uib-dropdown is-open="status.isopen">
                              <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                {{selectedProject.name}}<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-repeat="p in projList" ng-click="selectProject($index)"><a href="#">{{p.name}}</a></li>
                              </ul>
                            </div>
                    </div>

                         <button class="btn btn-success add-task" ng-click="sendTaks()" ng-disabled="notReady()">Create New Task</button>
                    </form>
            </div>
        </div>

        <div class='row' id="todo-list" ng-hide="addTaskDiv">
            <div class='todo-item col-md-12 single-task' ng-repeat='t in taskList | limitTo: taskLimit' ng-class="taskClass(t)">
                <div class="task-content" 
                ng-class="{taskhover: hover}" 
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false">
                    <div>
                         <input type='checkbox' ng-model="t.completed" ng-click='markCompleted($index)'/>
                    </div>
                    <div class="task-description todo-content" ng-click="toggleDetail($index)">
                        <span>{{t.name}}</span>
                        <span class="due-date"><img class="service-image" src="{{t.img_url}}"/> due {{t.dueObj.cal}} in {{t.projObj.name}}</span>
                    </div>
                    <div>
                         <span ng-class="dueDateClass(t)">{{t.dueObj.date}}</span>
                    </div>
                </div>
                <div class="task-footer" ng-class="t.color"></div>
               
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <a ng-click="changeLimit('more')">More</a> <a ng-click="changeLimit('less')">Less</a> <a ng-click="logoutUser()">Log Out</a>
                <div id='toolbar'>
                    <button class="btn btn-success add-task" ng-click="toggleAdd()" ng-hide="addTaskDiv">Add Task</button>
                    <button class="btn btn-default btn-sm" ng-click="toggleAdd()" ng-show="addTaskDiv">View Tasks</button>
                </div>
            </div>
        </div>
    


       

    </div>

    <!-- Task detail view -->

    <div ng-hide="showTasks" class="project-detail">
        <div class="detail-header">
            <h4><input type='checkbox' ng-click='completeTask(selectedTask)'/> <input type="text" class="title-input" ng-model="selectedTask.name" ng-init="focused = false" ng-focus="focused = true" ng-blur="focused = false" ng-mouseenter="focused = true"
                ng-mouseleave="focused = false"/></h4>
            <span class="detail-date">{{selectedTask.dueObj.cal}} </span><span class="detail-projname" ng-class="selectedTask.color"> {{selectedTask.projObj.name}}</span>
            
            
        </div>
        <div class="notes-holder">
           <textarea class="notes-area" ng-model="selectedTask.notes" placeholder="Type your notes here"></textarea>
        </div>
        <a ng-href="https://app.asana.com/0/{{selectedTask.projObj.id}}/{{selectedTask.id}}" target="_blank">View in Asana</a>
        <br>
        <div class="detail-footer">
            <button class="btn btn-sm btn-default" ng-click="toggleDetail()">Back</button> 
            <button class="btn btn-sm btn-success" ng-click="saveTask()">Save</button>
        </div>

    </div>

    
</div>

    <!-- End task detail view -->



</div>


